<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="greencode.ir.pillcci">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />



    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.VIBRATE " />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->

    <application
        android:name=".controler.AppController"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden"
        tools:replace="android:allowBackup">
        <activity android:name=".activities.PreSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ActivityShowTerms"></activity>
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.ActivityPilDetail"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.SetPassActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".activities.ActivityAddBot"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.ActivityBotBook"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--
            <activity android:name=".activities.ActivityValidateCode"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait"
            ></activity>
        -->

        <activity
            android:name=".activities.ForgetPassOneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.ForgetPassTwoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.EachTimeEditPartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.ChangePassActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.ActivityProfile"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:autoRemoveFromRecents="true"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.ActivityAddPhone"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.ActivityEditPhone"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.ActivitySetting"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.ActivityPhoneBook"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddMedicianActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".activities.BirthControlActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".activities.ActivityAlarmManager"
            android:keepScreenOn="true"
            android:screenOrientation="portrait"
            android:autoRemoveFromRecents="true"/>
        <activity
            android:name=".activities.FilterActivity"
            android:keepScreenOn="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActivityEditPill"
            android:keepScreenOn="true"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.RecalculateActivity"

        ></activity>
        <receiver
            android:name=".service.EventReciver"
            android:process=":remote"
            android:exported="true"
            android:enabled="true"
            >
        </receiver>

        <receiver
            android:name=".service.StartMyActivityAtBootReceiver"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".service.BroadCastRestart"
            android:label="BroadCastReset">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!--
        <service
            android:name=".service.ControlServices"
            android:exported="false"
            android:label="@string/app_name"/>

        <activity android:name=".activities.ActivityAlarmManager"></activity>
        -->
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/appbar_scrolling_view_behavior" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <service
            android:name=".service.SyncService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="false"
            />
        <service
            android:name=".service.DelayService"
            android:exported="true"
            android:stopWithTask="false"
            />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/pill" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="568362c655e87474e6fc33806ea747b8bf6c6542" />
    </application>

</manifest>